header{
    border: 5px solid lightblue;
    background: lightsalmon;
}
footer{
    border: 5px solid red;
    background:lightcoral;

}
nav{
    border: 5px solid lightblue;
    background: lightsalmon;

}
article{

    border: 5px solid red;
    background:lightcoral;

}